rook-ceph:
  monitoring:
    enabled: true
  csi:
    enableCSIEncryption: false
    topology:
      enabled: true
      domainLabels:
        - kubernetes.io/hostname
      # - topology.kubernetes.io/zone