kube-prometheus-stack:
  crds:
    upgradeJob:
      enabled: true
  grafana:
    admin:
      # TODO Use Vault with env.GF_SECURITY_ADMIN_PASSWORD__FILE instead of sealed secret
      existingSecret: monitoring-grafana
      passwordKey: admin-password
      userKey: admin-user

    extraSecretMounts:
      - name: pg-grafana-app
        secretName: pg-grafana-app
        defaultMode: 0440
        mountPath: /etc/secrets/postgres
        readOnly: true

    grafana.ini:
      database:
        type: "postgres"
        host: $__file{/etc/secrets/postgres/host}
        name: $__file{/etc/secrets/postgres/dbname}
        user: $__file{/etc/secrets/postgres/user}
        password: $__file{/etc/secrets/postgres/password}

    ingress:
      enabled: true
      ingressClassName: public-nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      tls:
        - hosts:
            - monitoring.felix-prasse.de
          secretName: grafana-cert # < cert-manager will store the created certificate in this secret.
      hosts:
      - monitoring.felix-prasse.de
      path: /

    persistence:
      type: pvc
      enabled: false
      storageClassName: rook-ceph-block
