grafana:
  ingress:
    enabled: true
    ingressClassName: public-nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - hosts:
          - monitoring.felix-prasse.de
        secretName: grafana-cert # < cert-manager will store the created certificate in this secret.
    hosts:
    - monitoring.felix-prasse.de
    path: /

