# TODO https://github.com/k3s-io/k3s/issues/3619
# TODO Monitor DNS (internal + external)
# TODO Monitor PoE Switch
# TODO Monitor Main Switch
# TODO Monitor DSL-Modem

kube-prometheus-stack:
  crds:
    upgradeJob:
      enabled: true
  prometheus:
    prometheusSpec:
      # Otherwise resources need to add labels to crds: https://github.com/prometheus-operator/kube-prometheus/issues/1392#issuecomment-993654670
      podMonitorSelectorNilUsesHelmValues: false
      scrapeConfigSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
  grafana:
    admin:
      # TODO Use Vault with env.GF_SECURITY_ADMIN_PASSWORD__FILE instead of sealed secret
      existingSecret: monitoring-grafana
      passwordKey: admin-password
      userKey: admin-user

    extraSecretMounts:
      - name: pg-grafana-app
        secretName: pg-grafana-app
        defaultMode: 0440
        mountPath: /etc/secrets/postgres
        readOnly: true

    grafana.ini:
      database:
        type: "postgres"
        host: $__file{/etc/secrets/postgres/host}
        name: $__file{/etc/secrets/postgres/dbname}
        user: $__file{/etc/secrets/postgres/user}
        password: $__file{/etc/secrets/postgres/password}

    ingress:
      enabled: true
      ingressClassName: public-nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      tls:
        - hosts:
            - monitoring.felix-prasse.de
          secretName: grafana-cert # < cert-manager will store the created certificate in this secret.
      hosts:
      - monitoring.felix-prasse.de
      path: /

    persistence:
      type: pvc
      enabled: false
      storageClassName: rook-ceph-block
