# TODO https://github.com/k3s-io/k3s/issues/3619
# TODO Monitor DNS (internal + external)
# TODO Monitor PoE Switch
# TODO Monitor Main Switch
# TODO Monitor DSL-Modem
# TOOO Monitor OPNSense
# TODO Provision dashboards via sidecar: https://medium.com/cloud-native-daily/provision-grafana-dashboards-and-alerts-using-helm-and-sidecars-733dcd223037

kube-prometheus-stack:
  crds:
    upgradeJob:
      enabled: true
  prometheus:
    prometheusSpec:
      # Otherwise resources need to add labels to crds: https://github.com/prometheus-operator/kube-prometheus/issues/1392#issuecomment-993654670
      podMonitorSelectorNilUsesHelmValues: false
      scrapeConfigSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
  grafana:
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        velero:
          # Ref: https://grafana.com/dashboards/23838
          gnetId: 23838
          revision: 1
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
        velero-exporter:
          # Ref: https://grafana.com/dashboards/15469
          gnetId: 15469
          revision: 1
          datasource: Prometheus

    admin:
      # TODO Use Vault with env.GF_SECURITY_ADMIN_PASSWORD__FILE instead of sealed secret
      existingSecret: monitoring-grafana
      passwordKey: admin-password
      userKey: admin-user

    extraSecretMounts:
      - name: pg-grafana-app
        secretName: pg-grafana-app
        defaultMode: 0440
        mountPath: /etc/secrets/postgres
        readOnly: true

    grafana.ini:
      database:
        type: "postgres"
        host: $__file{/etc/secrets/postgres/host}
        name: $__file{/etc/secrets/postgres/dbname}
        user: $__file{/etc/secrets/postgres/user}
        password: $__file{/etc/secrets/postgres/password}

    ingress:
      enabled: true
      ingressClassName: internal-nginx
      hosts:
      - monitoring.home.arpa
      path: /

    persistence:
      type: pvc
      enabled: false
      storageClassName: rook-ceph-block
