traefik:
  # Configure Network Ports and EntryPoints
  # EntryPoints are the network listeners for incoming traffic.
  ports:
    # Defines the HTTP entry point named 'web'
    web:
      port: 80
      #nodePort: 30000
      # Instructs this entry point to redirect all traffic to the 'websecure' entry point
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

    # Defines the HTTPS entry point named 'websecure'
    websecure:
      port: 443
      http:
        encodedCharacters:
          # Must be allowed because files uploaded to nextcloud can have these values in them.
          allowEncodedHash: true
          allowEncodedPercent: true
          allowEncodedSemicolon: true
      #nodePort: 30001
      middlewares:
        - traefik-public-hsts-header@kubernetescrd

  # Enables the dashboard in Secure Mode
  api:
    dashboard: true
    insecure: false

  ingressRoute:
    dashboard:
      enabled: true
      annotations:
         kubernetes.io/ingress.class: traefik-public
      labels:
        traefik.io/controller: public
      matchRule: Host(`public.traefik.home.arpa`)
      entryPoints:
        - websecure
      middlewares:
        - name: dashboard-public-auth

  # Creates a BasiAuth Middleware and Secret for the Dashboard Security
  extraObjects:
    - apiVersion: bitnami.com/v1alpha1
      kind: SealedSecret
      metadata:
        creationTimestamp: null
        name: dashboard-public-auth-secret
        namespace: traefik
      spec:
        encryptedData:
          password: AgAt5E/hJrPEIgrWwWRcYkM2qdX62U+0f/6mQhKvqLkkzbGX/9R95j9ywl2akV+3iYAjE8AGcqhUBg4gss9FWct669nS7IBihTrWCkjyUGubkFABYolVIuiRvpIgSoppaa1IuDB4/n0JqCY8XRDQe5KF9CXqxcdA86wsAzV7ykUajSpcPE1Kq/m6O5RQapba34Y7f+w2APOOfFBCPcv+MPwfcicpCibkzuIBl8F2hgEMZHrz/09ygjieIwdMMbQONfCCPrR/oCpZdZNeUJu8VkV7Qwbu1l1Xf5OaVsBTmMcS1uPAQtaNYsggWKicgYdQKNg7LuTtBcDbpMqPUFYJplYlAJhjGkypD2nI7f55FtMEm7d1PSG3xjXL91+fh7X+V9Bfw94LGB8pCpXrgLGqtIp5ATfggdtiPj/BxHzEsMnjhGcyd2Wc4H4WSJ3s1pHLrj7hSSHCxAJUPK7Br7pgFCk9uCdP0962e5QZ7iyioSxHZ+b4UUhaU8cdGGB59wAPd+PBkXikaOjLSHVXL4JygwdlcfA51ClpMU2UbL/VjZddbdkH7A8qPzvdZ5XDDa9Qy+xFp8ipvQy734EI9JnyfMBfTGgW2Kmgz4CcVpp+urCg7MSm5+opeBif13td5gE1hO8e+X71ykCmOeLNsl8c+LO3JYqsv35gIK05EX3ERewSQwgBo1evCBcwVJNNfS8LNIPdNIAbpbKbGfum+E0hiLEv
          username: AgChuCROfoOiLQZc7Ec3+jHZwrnj2ZkPcWb1S32sHK7hTy1Kulg9xoDNOnOkp20+b56AsVWYzHobZHPVh9F0M63Rqril4+OpkHOE4Cc9hpKOzOPcel44e8zZydMTWTcNIbBlz1fD2CWbkrqEzjuHmWS12OwtLVMIJ5NC8sJY6ec8XvWXXVLvF/uVEs0DOv1wfEGUJobaDyhzoDNKlDcGhPS5RkPtIDxzrYLkIw7m0z+ykV04bqjhBpdZFN2mD0cs6+Y/aaIgjPjs7hQt3lZ9v18FbJm5/TnZKDpGmBpqJv7aAnE0bUijwcslrGcck802cvKYfRKmiQYMlWjTf0fwl78+OqC4UkZEr1/+HNk8bOtSyEK4twKPWyv9MFRJ5lRgsajxqtJqO0SRTnaUMa37OLw1TZP/YulimiueFHxfl9e5kbb8IkcCSamHyahcH6U/eOaBMiOuJI38BWFRs03LEIucl+UtvD12+6EOPvHeax30VpDg7Q0aojKJ03VX46mWxH2BwD6OJr1TwSfW7bCKZ+FXxWIHJ9dQ9TvWMlAw5z1JffoOsoxr0FrvbFUWpzFv/1nWaUMXahypE+ervxu0nIt+ulACwBFDPxb7KcYGekKYEpDYNSlAeMRnzqzETQW+C4MDbMlJ06ky3sWf80x7mkT82ph8af02PaJdMKK3Q0jeDMjRs6BHoIbtZBJwQ2PWjs9OMliFzA==
        template:
          metadata:
            creationTimestamp: null
            name: dashboard-public-auth-secret
            namespace: traefik
          type: kubernetes.io/basic-auth
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: dashboard-public-auth
        labels:
          traefik.io/controller: public
      spec:
        basicAuth:
          secret: dashboard-public-auth-secret
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: public-hsts-header
        namespace: traefik
        labels:
          traefik.io/controller: public
      spec:
        headers:
          stsSeconds: 15552000
          customResponseHeaders:
              x-powered-by: "" # Removes
              Server: ""  # Removes

  # Loading the plugins from the pvc takes a bit longer, so delay probes.
  readinessProbe:
    initialDelaySeconds: 60
  livenessProbe:
    initialDelaySeconds: 60

  podSecurityContext:
    fsGroupChangePolicy: OnRootMismatch
    fsGroup: 65532
  service:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: public.traefik.home.arpa # TODO This is just a hack to notify external-dns of the route crd....
      kube-vip.io/loadbalancerIPs: 192.168.2.96

    spec:
      externalTrafficPolicy: Local

  # We will route with Gateway API instead.
  ingressClass:
    enabled: true
    isDefaultClass: false
    name: traefik-public

  # Enable Gateway API Provider & Disables the KubernetesIngress provider
  # Providers tell Traefik where to find routing configuration.
  providers:
    kubernetesCRD:
      ingressClass: traefik-public
      labelSelector: traefik.io/controller=public
    kubernetesIngress:
      enabled: true
      ingressClass: traefik-public
    kubernetesGateway:
      enabled: false

  ## Gateway Listeners
  #gateway:
  #  listeners:
  #    web:           # HTTP listener that matches entryPoint `web`
  #      port: 80
  #      protocol: HTTP
  #      namespacePolicy:
  #        from: All
  #
  #    websecure:         # HTTPS listener that matches entryPoint `websecure`
  #      port: 443
  #      protocol: HTTPS  # TLS terminates inside Traefik
  #      namespacePolicy:
  #        from: All
  #      mode: Terminate
  #      certificateRefs:
  #        - kind: Secret
  #          name: local-selfsigned-tls  # the Secret we created before the installation
  #          group: ""

  # Enable Observability
  logs:
    general:
      level: INFO
    # This enables access logs, outputting them to Traefik's standard output by default. The [Access Logs Documentation](https://doc.traefik.io/traefik/observability/access-logs/) covers formatting, filtering, and output options.
    access:
      enabled: true

  # Enables Prometheus for Metrics
  metrics:
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true