immich:
  controllers:
    main:
      containers:
        main:
          image: {}
            # tag: v2.0.1
  immich:
    persistence:
      library:
        existingClaim: library

  valkey:
    enabled: true
    master:
      persistence:
        storageClass: rook-ceph-block
  server:
    #persistence:
    #  custom:
    #    existingClaim: extern
    enabled: true
    controllers:
      main:
        containers:
          main:
            env:
              DB_HOSTNAME: postgres-immich-cluster-rw
              DB_USERNAME: immich
              DB_VECTOR_EXTENSION: pgvector
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-db-secret
                    key: password

    ingress:
      main:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        className: traefik-public
        hosts:
          - host: pictures.felix-prasse.de
            paths:
              - path: "/"
        tls:
          - hosts:
              - pictures.felix-prasse.de
            secretName: immich-cert

  machine-learning:
    controllers:
      replicas: 1
      main:
        pod:
          nodeSelector:
            kubernetes.io/hostname: nas
        containers:
          main:
            resources:
              limits:
                #cpu: 100m
                memory: 2048Mi
              requests:
                cpu: 100m
                memory: 2048Mi
            probes:
              readiness:
                custom: true
                spec:
                  timeoutSeconds: 5
    persistence:
      cache:
        enabled: true
        type: persistentVolumeClaim
        storageClass: rook-cephfs