policy-reporter:
  ui:
    enabled: true
    ingress:
      enabled: true
      className: traefik-internal
      hosts:
        - host: kyverno.home.arpa
          paths:
            - path: /
              pathType: Prefix
  plugin:
    kyverno:
      enabled: true

kyverno-policies:
  # -- Pod Security Standard profile (`baseline`, `restricted`, `privileged`, `custom`).
  # For more info https://kyverno.io/policies/pod-security.
  podSecurityStandard: restricted